@import url('./base.css');

.habilidades {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.habilidades__conteudo {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    flex: 1; 
}

.habilidades__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.habilidades__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.habilidades__texto {
    font-size: 1rem;
}

.habilidades__certificados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s;
    margin: 20px auto 0; 
}

.habilidades__certificados i {
    font-size: 1.2rem;
}

.habilidades__certificados:hover {
    background-color: var(--cor-hover);
}

.habilidades__imagem {
    max-width: 340px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    flex-shrink: 0; 
}

.logo img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.logo p {
    color: #ffffff49;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 77.5rem) {
    .cabecalho__menu {
        gap: 30px;
    }

    .habilidades {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5% 10%;
    }

    .habilidades__conteudo {
        width: 100%;
        text-align: justify;
        margin: 20px 0;
    }

    .habilidades__imagem {
        max-width: 60%;
        margin: 20px auto;
        display: block;
    }
}

@media (max-width: 48rem) {
    .cabecalho__menu {
        gap: 20px;
    }

    .habilidades {
        padding: 5% 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .habilidades__conteudo {
        width: 100%;
        text-align: justify;
        margin: 20px 0;
    }

    .habilidades__imagem {
        width: 80%;
        display: block;
        max-width: 100%;
        margin: 20px auto;
    }
}

